* {
    margin: 0;
    padding: 0;
  }

body {
    background: black;
    text-align: center;
    margin: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 20px;
}





.cat {
    width: 180px;
    height: 400px;
    background-color: #9f8fcd;
    color: black;
    font-size: 1em;
    margin: 20px;
    padding-top: 40px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.dog {
    width: 180px;
    height: 500px;
    background-color: #8a8fc7;
    color: black;
    font-size: 1em;
    margin: 20px;
    padding-top: 40px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.fish {
    width: 180px;
    height: 350px;
    background-color: #7f90c6;
    color: black;
    font-size: 1em;
    margin: 20px;
    padding-top: 40px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    color: white;
    padding-bottom: 30px;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
    margin-top: 50px;
    
}

a {
    text-decoration: none;
    color: black;
    background: hsl(59deg 100% 61%);
    display: block;
    padding: 12px;
    text-align: center;
    font-size: 1em;
    margin-top: 40px;
    border-radius: 4px;
}

.doggy {
margin-top: 60px;
}

.fishy {
    margin-top: 30px;
    
}

.par1 {
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.par2 {
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.par3 {
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.par4 {
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    
}
